<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email">
          <p>パスワード</p>
          <input type="password" name="password">
          <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</div>