<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <p>ユーザー名</p>
        <input>
        <p>メールアドレス</p>
        <input>
        <input type="submit" value="新規登録">
      </div>
    </div>
  </div>
</div>