<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <%= @post.content %>
      </p>
      <!-- ここに指定されたHTMLを貼り付けてください -->
      <div class="post-time">
        <!-- @postのcreated_atカラムのデータを表示してください -->
        <%= @post.created_at %>
    </div>
  </div>
</div>