<header>
  <div class="header-logo">
    <%= link_to("TweetApp", "/") %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to("TweetAppとは", "/about") %>
    </li>
    <li>
      <%= link_to("投稿一覧", "/posts/index") %>
    </li>
  </ul>
</header>
